.cars{
    height:auto;
    width:auto;
}

.road {
    height: 20px;
    background-color: black;
    display: flex;
    align-items: flex-end;
}

    .yellowLine {
    height: 2px;
    width:auto;
    background-color: yellow;
    display: flex;
    align-items: flex-end;
}

.blackLine {
    height: 2px;
    background-color: black;
    display: flex;
    align-items: flex-end;
}
#car1 {
    height: 40px;
    width: 65px;
    position: relative;
    animation-name: carrunning;
    animation-duration: 6s;
    animation-iteration-count: 2;
    animation-direction: alternate;
   
}

@keyframes carrunning {
    0% {
        left: 105%;
        top: 0px;
    }
    100% {
        left: -100px;
        top: 0px;
        
    }
    120%{

    }
    

}