
body {
    background-image: linear-gradient(to left, #f3edc9, #cfe4e9);
}
html{
    font-size:62.5%;
}
.main-container {
    background-color:black;
}
.tree-image {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


.building-wrapper {
    margin-top: 20px;
    height: 500px;
    width: auto;
    /*    background-image: linear-gradient(to right, red, orange, purple);*/
    background-image: url(../img/img-hi.png);
    background-size: 100% 100%;
    
    display: flex;
    align-items: flex-end;
}
.building {
     z-index: 2;
    height: 130px;
    width: 50px;
    margin-left: 5%;
    /*display: flex;
    align-items: flex-end;*/
}
.buildingtop {
    height: 45px;
    width: 50px;
}
.buildingmid {
    height: 30px;
    width: 50px;

}
.buildingbottom {
    height: 45px;
    width: 50px;
}

#concret-image {
    height: 100%;
    width: 50%
}
.concret {

    height: auto;
    width: 100%;
    display: flex;
    
}

/*building animation*/
.buildingmid {
    animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.glowingBuilding {
    
    animation: glow 3s infinite alternate;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #F5EE20;
    }

    to {
        box-shadow: 0 0 10px 10px #F56826;
    }
}
