#background-image {
    background-image: url(../img/background.svg);
}

.building-wrapper {

    margin-top: 20px;
    height: 500px;
    background-image: linear-gradient(to right, red, orange, purple);
    display: flex;
    align-items: flex-end;
}
.building {
   
    height: 130px;
    width:50px;
    margin-left:50px;
    /*display: flex;
    align-items: flex-end;*/
}
.buildingtop {
    height: 45px;
    width: 50px;
}
.buildingmid {
    height: 30px;
    width: 50px;
}
.buildingbottom {
    height: 45px;
    width: 50px;
}

#concret-image {
    height: 100%;
    width: 50%
}
.concret {
    height: 20px;
    display: flex;
    align-items: flex-end;
}

/*building animation*/
.buildingmid {
    animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}